# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.sdf
*.opensdf
*.v12.suo
*.suo
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.db
*.psess
*.vspx

bin/*/*/ManaForgeEngine.*
bin/*/*/Game.*
bin/*/*/Modules/OpenGLRenderer.*
bin/*/*/Modules/DefaultWorld.*
bin/*/*/lodepng.*
bin/*/*/StackWalker.*
bin/*/*/Modules/TestContent.*
bin/*/*/glew32*.*
bin/*/*/box2d.*
bin/*/*/Modules/Box2dPhysicsSystem.*
bin/*/*/Modules/OpenALAudioSystem.*
bin/*/*/OpenAL.*
bin/*/*/alut.*
bin/*/*/Soil.*
bin/*/*/GLFW3.*
src/*/lib/*/*/*.*

src/stackwalker/release/
src/stackwalker/debug/

src/manaforgeengine/debug/
src/manaforgeengine/release/

src/OpenGLRenderer/*/release/
src/OpenGLRenderer/*/debug/


src/OpenGLRenderer/*/*/release/
src/OpenGLRenderer/*/*/debug/

*.tmp

resource/fonts/fontgenerator/bin/*/*/fontgenerator.*
resource/fonts/fontgenerator/bin/*/*/freetype.*


.vs/
.vs/config/

Game/Game_*/*.*
Game/Game_*/*/*.*

ipch/

Resource/log.txt

*codeanalysis*.*

*.pch.codeanalysisast
*.pch.codeanalysis
src/Game/Debug/Game.pch.codeanalysis
src/Game/Game_*/
log.txt
*.cfg
*.xdc

boost.props
src/boostx64.props
src/boostx64.props

*.vsp
src/OpenGLRenderer/Debug/openglrenderer.obj.enc
*.obj-2284f8f7
