# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.sdf
*.opensdf
*.v12.suo
*.suo
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.db
*.psess
*.vspx

bin/Debug/Engine.*
bin/Debug/Game.*
bin/Game/Deubg/
bin/Engine/Debug/
bin/Editor/Debug/
bin/Debug/Editor.*
bin/Release/Engine.*
bin/Release/Game.*
bin/Debug/Modules/OpenGLRenderer.*
bin/Release/Modules/OpenGLRenderer.*
bin/Release/Modules/DefualtWorld.*
bin/Debug/Modules/DefaultWorld.*
bin/Release/Modules/lodepng.*
bin/Debug/Modules/lodepng.*
bin/Release/StackWalker.*
bin/Debug/StackWalker.*


Game/Game_*/*.*
Game/Game_*/*/*.*

ipch/

Resource/log.txt

*codeanalysis*.*

*.pch.codeanalysisast
*.pch.codeanalysis
Game/Debug/Game.pch.codeanalysis
log.txt
*.cfg
*.xdc

boost.props
