# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.sdf
*.opensdf
*.v12.suo
*.suo
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.db
*.psess
*.vspx

bin/Debug/Engine.*
bin/Debug/Game.*
bin/Game/Deubg/
bin/Engine/Debug/
bin/Editor/Debug/
bin/Debug/Editor.*
bin/Release/Engine.*
bin/Release/Game.*




ipch/

Resource/log.txt

*codeanalysis*.*

*.pch.codeanalysisast
*.pch.codeanalysis
Game/Debug/Game.pch.codeanalysis
log.txt
*.cfg
